  $datetime-header-item-font-color:#000;
  $datetime-header-item-cancel-font-color:#ff6e21;
  $datetime-header-item-confirm-font-color:#ff6e21;

  .scroller-component {
    display: block;
    position: relative;
    height: 238px;/*no*/
    overflow: hidden;
    width: 100%;
  }

  .scroller-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .scroller-mask {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    z-index: 3;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.8)),
    linear-gradient(to top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.8));
    background-position: top, bottom;
    background-size: 100% 102px;/*no*/
    background-repeat: no-repeat;
  }

  .scroller-item {
    text-align: center;
    font-size: 28px;
    height: 34px;/*no*/
    line-height: 34px;/*no*/
    color: #000;
  }

  .scroller-indicator {
    width: 100%;
    height:34px;/*no*/
    position: absolute;
    left: 0;
    top: 102px;/*no*/
    z-index: 3;
    background-image: linear-gradient(to bottom, #d0d0d0, #d0d0d0, transparent, transparent),
    linear-gradient(to top, #d0d0d0, #d0d0d0, transparent, transparent);
    background-position: top, bottom;
    background-size: 100% 1px;/*no*/
    background-repeat: no-repeat;
  }

  .fd-container {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background-color: #fff;
    display: none;
    transition: transform 0.3s ease;
    transform: translateY(100%);
  }

  .fd-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    background-color: #000;
    z-index: 800;
  }

  .fd-header {
    padding:10px 0;
    display: flex;
    width: 100%;
    box-align: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #e7e7e7, #e7e7e7, transparent, transparent);
    background-position: bottom;
    background-size: 100% 1px;/*no*/
    background-repeat: no-repeat;
  }
  .fd-title{
    display: flex;
    justify-content: space-between;
  }
  .fd-title .fd-title__item{
    padding:5px 0;
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    color:rgba(0,0,0,.87);
    font-size: 24px;
    letter-spacing: 2px;
  }
  .fd-title .fd-active{
    background-color: #ff6e21;
    color:hsla(0,0%,100%,.87);
  }
  .fd-title .fd-title__item span{
    display: inline-block;
    padding-top:5px;
  }
  .fd-title .fd-title__item p{
    padding:5px 0;
  }
  .fd-header .fd-item {
    color: $datetime-header-item-font-color;
    font-size: 28px;
    height: 54px;
    line-height: 54px;
    cursor: pointer;
  }

  .fd-header .fd-item.fd-left {
    color: $datetime-header-item-cancel-font-color;
  }

  .fd-header .fd-item.fd-right {
    color: $datetime-header-item-confirm-font-color;
  }

  .fd-content {
    display: flex;
    width: 100%;
    box-align: center;
    align-items: center;
  }

  .fd-header .fd-item,
  .fd-content .fd-item {
    box-sizing: border-box;
    flex: 1;
  }
  .fd--cancel {
    text-align: left;
    padding-left: 15px;
  }
  .fd--confirm {
    text-align: right;
    padding-right: 15px;
  }
